<h2 class="mb-5 fw-bold">Nueva nota</h2>

<div class="row row-cols-2 justify-content-center">
    <form [formGroup]="form" (ngSubmit)="create()">
        <div class="mb-3">
            <label for="titulo" class="text-secondary fw-semibold fs-4">Título</label>
            <input id="titulo" type="text" placeholder="Titulo" class="form-control" formControlName="titulo">
        </div>
        <div class="mb-3">
            <label for="texto" class="text-secondary fw-semibold fs-4">Texto</label>
            <textarea id="texto" type="text" placeholder="Texto" class="form-control" formControlName="texto"></textarea>
        </div>
        <div class="mb-3">
            <label for="fechaCreacion" class="text-secondary fw-semibold fs-4">Fecha de Creación</label>
            <input id="fechaCreacion" type="date" placeholder="Fecha" class="form-control" formControlName="fechaCreacion">        </div>
        <div class="mb-3">
            <label for="categoriaId" class="text-secondary fw-semibold fs-4">Categoria</label>
            <input id="categoriaId" type="number" placeholder="Categoria" class="form-control" formControlName="categoriaId">
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-light me-2" routerLink="/">
                Cancelar
            </button>
            <button class="btn btn-primary">
                Crear Nota
            </button>
        </div>
    </form>
</div>
