<h2 class="mb-3 fw-bold">
    @if(nota) {
      Editar nota
    } @else {
      Nueva nota
    }
</h2>

<div class="row row-cols-2 justify-content-center">
    @if(form){
        <form [formGroup]="form" (ngSubmit)="save()">
          <div class="mb-3">
            <input id="id" type="hidden" placeholder="Id" class="form-control w-50" formControlName="id">
          </div>
          <div class="d-flex justify-content-around ">
              <div class="mb-3">
                <label for="titulo" class="text-secondary fw-semibold fs-4">Título</label>
                <input id="titulo" type="text" placeholder="Titulo" class="form-control" formControlName="titulo">
              </div>
              <div class="mb-3 formGroup" formGroupName="categoria">
                <label for="id" class="text-secondary fw-semibold fs-4 ms-5">Categoria</label>
                <select id="id" class="form-control ms-5" formControlName="id">
                  <option class="text-secondary" value="" disabled selected hidden>Elige Categoria</option>
                  @for (categoria of categorias; track categoria.id) {
                  <option [value]="categoria.id" class="text-secondary">
                    {{categoria.nombre }}
                  </option>
                  }
                </select>
              </div>
          </div>
          <div class="mb-3">
            <textarea rows="20" cols="75" id="texto" type="text" placeholder="Texto" class="form-" formControlName="texto"></textarea>
          </div>

          <div class="text-end">
            <button type="button" class="btn btn-light me-2" routerLink="/">
              <i class="bi bi-x"></i>
              Cancelar
            </button>
            <button class="btn btn-primary">
                  @if(nota) {
                      <i class="bi bi-arrow-clockwise"></i>
                      Actualizar nota
                  } @else {
                      <i class="bi bi-file-plus-fill"></i>
                      Crear nota
                  }
            </button>
          </div>
        </form>
    }
</div>
