<!-- <h2 class="mb-3 fw-bold">@if(nota) { Editar nota } @else { Nueva nota }</h2> -->

<div class="">
  @if(form){
  <form [formGroup]="form" (ngSubmit)="save()" class="form">
    <div class="mb-3">
      <input
        id="id"
        type="hidden"
        placeholder="Id"
        class="form-control w-50"
        formControlName="id"
      />
    </div>

    <div class="d-flex justify-content-between">
      <button type="button" class="btn text-start me-2" routerLink="/">
        <i class="bi bi-arrow-left fs-1"></i>
      </button>
      <button class="btn text-end">
        @if(nota) {
        <i class="bi bi-arrow-clockwise fs-1"></i>
        } @else {
        <i class="bi bi-check-square fs-1"></i>
        }
      </button>
    </div>
    <!-- <div>
      @if(nota){
      <button class="btn" (click)="deleteNota(nota.id)">
        <i class="bi bi-trash"></i>
      </button>
      }
    </div> -->

    <div class="text-success">
      <hr />
    </div>

    <div class="d-flex justify-content-between align-items-baseline">
      <div class="my-3 ms-3">
        <!-- <label for="titulo" class="label fs-5 ms-3 mb-2">Título</label> -->
        <input
          id="titulo"
          type="text"
          placeholder="Titulo..."
          class="form-control rounded-0 border-bottom border-danger border-top-0 border-start-0 border-end-0 fs-4"
          formControlName="titulo"
        />
      </div>
      <div class="my-3 formGroup" formGroupName="categoria">
        <select
          id="id"
          class="form-control rounded-0 border-bottom border-danger border-top-0 border-start-0 border-end-0"
          formControlName="id">
          <option class="text-secondary" value="" disabled selected hidden>
            Elige Categoria
          </option>
          @for (categoria of categorias; track categoria.id) {
          <option [value]="categoria.id" class="text-secondary">
            {{ categoria.nombre }}
          </option>
          }
        </select>
      </div>
    </div>
    <div class="mb-3">
      <textarea
        class="bordered-none"
        rows="16"
        cols="100"
        id="texto"
        type="text"
        placeholder="Texto"
        class="form-control no-border mx-3 py-4 ps-4 fs-3"
        formControlName="texto"
      ></textarea>
    </div>
  </form>
  }
</div>
