
<div class="d-flex justify-content-start align-items-baseline">
  <a
    class="btn fs-2 ms-5 mt-3"
    data-bs-toggle="offcanvas"
    href="#offcanvasExample"
    role="button"
    aria-controls="offcanvasExample"
  >
    <div class="bg-image">
      <i class="bi bi-list fs-1 fw-bold"></i>
    </div>
  </a>
  <figure class="ms-5 pt-4">
    <blockquote class="blockquote">
      <h1 class="fs-1 fw-bold">NoTo</h1>
    </blockquote>
  </figure>
</div>
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <figure class="ms-5 pt-4">
      <blockquote class="blockquote d-flex justify-content-end">
        <h1 class="fs-1 fw-bold ms-5">NoTo</h1>
      </blockquote>
    </figure>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have
      chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
      >
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container py-5 mt-1">
  <router-outlet />
</div>
